
.home-container {
    padding: 20px;
}

.home-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.home-button:hover {
    background-color: #afccec;
    color: #024387;
}