body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: #f4f4f9;
}

h1 {
    text-align: center;
}

#city {
    padding: 10px;
    margin: 0;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: lightgray;
    cursor: pointer;
}

button:hover {
    background-color: darkgray;
    color: white;
}

#weather-info {
    margin-top: 10px;
    display: none;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
}

#weather-icon {
    width: 50px;
    height: 50px;
}

#error-message {
    color: red;
    font-size: 18px;
    text-align: center;
}

