* {
    margin: 0;
}

.top-container {
    width: 100%;
    height: 60px;
    background-color: #efeeee;
    border: 1px solid black;
    margin-bottom: 10px;
}

.left {
    width: 19%;
    height: 50%;
    float: left;
    background-color: gray;
    border: 1px solid black;
    margin: 15px 5px 0 10px;
}

.right {
    width: 19%;
    height: 50%;
    background-color: gray;
    border: 1px solid black;
    float: right;
    margin: 15px 10px 0 0;
}

.sec-top-container {
    width: 100%;
    height: 60px;
    background-color: #efeeee;
    border: 1px solid black;
    margin-bottom: 10px;
}

.first {
    width: 19%;
    height: 50%;
    float: left;
    background-color: gray;
    border: 1px solid black;
    margin: 15px 5px 0 10px;
}

.second {
    width: 19%;
    height: 50%;
    background-color: gray;
    border: 1px solid black;
    float: right;
    margin: 15px 10px 0 0;
}

.third {
    width: 19%;
    height: 50%;
    background-color: gray;
    border: 1px solid black;
    float: right;
    margin: 15px 10px 0 0;
}

.fourth {
    width: 19%;
    height: 50%;
    background-color: gray;
    border: 1px solid black;
    float: right;
    margin: 15px 10px 0 0;
}

.main-container {
    width: 100%;
    height: 60px;
    background-color: #efeeee;
    border: 1px solid black;
    margin-bottom: 10px;
}

.sec {
    width: 19%;
    height: 50%;
    float: left;
    background-color: gray;
    border: 1px solid black;
    margin: 15px 5px 0 5px;
}

.sec-main-container {
    width: 100%;
    height: 120px;
    background-color: #efeeee;
    border: 1px solid black;
    margin-bottom: 10px;
}

.inner-container {
    width: 450px;
    height: 120px;
    float: right;
    margin-right: 10px;
}

.big {
    width: 220px;
    height: 100px;
    background-color: gray;
    border: 1px solid black;
    float: left;
    margin-top: 10px;
}

.general-container {
    width: 220px;
    height: 120px;
    float: right;
}

.last-top {
    width: 220px;
    height: 45px;
    background-color: gray;
    border: 1px solid black;
    margin-top: 10px;
}

.last-bottom {
    width: 220px;
    height: 45px;
    background-color: gray;
    border: 1px solid black;
    margin-top: 8px;
}

.bottom-container {
    width: 100%;
    height: 120px;
    background-color: #efeeee;
    border: 1px solid black;
}

.inside-container {
    width: 450px;
    height: 120px;
    margin: 0 auto;
}

.last-left {
    width: 220px;
    height: 100px;
    background-color: gray;
    border: 1px solid black;
    margin-top: 10px;
}

.container {
    width: 220px;
    height: 120px;
    float: right;
    margin-top: -101px;
}

.top-right {
    width: 220px;
    height: 45px;
    background-color: gray;
    border: 1px solid black;
}

.bottom-right {
    width: 220px;
    height: 45px;
    background-color: gray;
    border: 1px solid black;
    margin-top: 9px;
}


