@use "variables" as *;

.blue-container {
  background-color: $main-color;
  color: white;
}

.copyright {
  padding-block: 50px;
}

.copyright_name {
  font-weight: 500;
  font-size: 21px;
  line-height: 24px;
  padding-bottom: 20px;
}

.copyright_date {
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
}




